@import "reset.css";

body {
    font-family: quicksand;
    background-color: #EEEEEE;
}

a:hover{
    text-decoration: none;
}

.container{
    width: 100%;
    margin: auto;
}

.header{
    padding: 0 20px;
    background-color: #1089FE;
    width: 100%;
    height: 70px;
    line-height: 70px;
}

.header ul li {
    display: inline-block;
    
    margin: 0px 8px;
    text-align: center;
}

.header .nav-left{
    float: right;
}

.header .login{
    height: 30px;
    line-height: 30px;
    width: 80px;
    background-color: #fff;
    border-radius: 15px;
}

.header a{
    font-family: quicksand-bold;
    color: #E5E5E5;
}

.login a{
    color:#1089FE;
}

.jumbotrn h1 {
    font-size: 45px;
    margin: 20px 0;
    font-weight: bold;
}

.jumbotrn p {
    margin: 20px 0;
    font-size: 18px;
}

.jumbotrn {
    padding: 50px 50px;
}

.intro h2, .alasan h2, .review h2{
    font-weight: bold;
    font-size: 25px;
    margin: 10px;
}

.intro, .alasan, .review {
    text-align: center;
}

.tombol{
    border: 0;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #1089FE;
    color: #E5E5E5;
} 

.login {
    background-color: #3BA0FF;
}

.daftar{
    margin-right: 10px;
}

.list-paket h2, .list-paket h3 {
    text-align: center;
}

.list-paket h2{
    font-size: 25px;
    font-weight:bold;
}

.paket, .review-item{
    min-height:200px;
    border:1px solid blue;
    margin: 20px;
}

.intro, .alasan{
    margin: 30px;
}

.list-paket {
    margin: 30px auto;
}

p {
    font-size: 18px;
}

.in-footer{
    margin-top: 80px;
    text-align: center;
    background-color: #CFCFCF;
}

.in-footer p {
    font-weight: bold;
    padding: 20px;
}