.manual-alert{
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
}

.manual-alert-foto{
  margin: 20px 0 5px 0;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.wrng{
  background-color: #f8d7da;
  color: #a35d63;
}

.succes{
  background-color:#d5edda;
  color: #759d7a;    
}