.foto-profile{
    width: 200px;
    height: 200px;
    background-size: cover;
    border: 2px solid #038ade;
    box-shadow: ;
    border-radius: 100%;
    margin-top: 20px;
    background-image: url(../img/no-foto.png);
}