@import "reset.css";
@import "footer.css";
@import "font.css";

html {
  scroll-behavior: smooth;
}

body {
  min-height: 200vh;
  font-family: "Work sans", arial, sans-serif;
  background-color: white;
  margin: auto;
  position: relative;
  background-image: url(../img/dot-grid.png);
}
.bg {
  background-image: url(../img/dot-grid.png);
  background-size: 350px;
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  z-index: -9999;
  opacity: 0.8;
}

/* Navbar */

header {
  position: fixed;
  width: 85%;
  display: flex;
  margin: 50px auto;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  padding: 20px 20px;
  height: 80px;
  z-index: 999999;
  border-radius: 8px;
  transition: 0.4s;
  left: 50%;
  transform: translate(-50%, 0);
  box-shadow: 0 0 40px 0.1px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
}

.sticky {
  margin: 0;
  top: 0;
  height: 70px;
  left: 50%;
  transform: translate(-50%, 0);
  position: fixed;
  background-color: #fff;
  border-radius: 0;
  width: 85%;
  border: none;
  box-shadow: none;
  box-sizing: border-box;
  z-index: 9999;
  text-decoration: none;
}

.bg_atas {
  margin: 0;
  top: 0;
  height: 80px;
  left: 50%;
  transform: translate(-50%, 0);
  position: fixed;
  background-color: #fff;
  border-radius: 0;
  width: 100%;
  border: none;
  box-shadow: none;
  box-sizing: border-box;
  z-index: 9999;
  text-decoration: none;
}

.Logo {
  position: relative;
  transition: 0.6s;
}

.Logo img {
  top: 2px;
  position: relative;
  transform: scale(0.5);
  width: 131px;
  transition: 0.6s;
}

h2 {
  height: 75px;
  width: 100%;
  background-color: white;
  position: fixed;
  z-index: 9998;
  transition: 0.2s 0.1s;
  opacity: 0%;
  left: 50%;
  transform: translate(-50%, 0);
}

.hdua {
  margin: 0;
  width: 100%;
  opacity: 100%;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  border-bottom: 2px solid rgba(87, 84, 84, 0.1);
}

header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  position: relative;
  list-style: none;
}

header .satu li a,
.regis,
.login {
  font-size: 12.5px;
  font-family: "Work sans", arial, sans-serif;
  position: relative;
  margin: 0 16px;
  text-decoration: none;
  color: black;
  letter-spacing: 2px;
  font-weight: 500px;
  transition: 0.5s;
}

header ul li a:hover {
  text-decoration: none;
}

.sticky .Logo,
.sticky ul li a {
  color: #000;
}

header ul li .regis {
  color: rgb(0, 38, 255);
  font-weight: bold;
}

header ul li .home {
  font-weight: bold;
}

header ul li .drpdwn {
  min-width: 100px;
  min-height: 10px;
  transform: scaleY(10px);
  display: none;
  position: absolute;
  background-color: salmon;
  padding: 12px 16px;
}

header ul li a .inti {
  display: block;
}

header ul {
  float: right;
}

.topdetil:hover > ul {
  display: block;
}

.intinya {
  display: none;
  float: left;
  position: absolute;
  width: 180px;
  left: 10px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
}

.intinya li {
  line-height: 50px;
  padding-left: 0px;
}

.intinya div li a {
  font-size: 13px;
  letter-spacing: 0.6px;
  transition: 0.2s;
}

.intinya div {
  background-color: #fff;
  height: 50px;
  transform: scaleY(100px);
}

.sticky .intinya div {
  background-color: #fff;
  height: 50px;
  transform: scaleY(100px);
}

.intinya div li a:hover {
  color: rgba(34, 184, 211, 0.979);
}

.topdetil i {
  transform: scale(0.9);
  transform: translateY(1px);
  margin-left: -13px;
  transition: 0.15s ease-out;
}

.topdetil:hover i {
  transform: rotate(-180deg);
}

header ul li div {
  height: 80px;
  line-height: 80px;
  transition: 0.3s;
}

.sticky ul li div {
  height: 78px;
  line-height: 78px;
}

header .satu li .in::after,
header .satu li .topdetil::after,
header ul li .loggin::after,
header ul li .register::after {
  content: "";
  width: 0%;
  height: 3px;
  background-color: #3b94ed;
  position: absolute;
  bottom: 0%;
  left: 13%;
  border-radius: 15px;
  transition: 0.3s ease-out;
}

header .satu li .in:hover::after,
header .satu li .topdetil:hover::after,
header ul li .loggin:hover::after,
header ul li .register:hover::after {
  width: 75%;
}

header .satu li .home::after {
  content: "";
  width: 75%;
  height: 3px;
  background-color: #3b94ed;
  position: absolute;
  bottom: 0%;
  left: 17%;
  border-radius: 10px;
  transition: 0.3s ease-out;
}

/* Akhir dari navbar */

/* tampilan 1 */

.jmbtrn {
  height: 600px;
  position: relative;
  top: 30px;
  transform: translateY(10%);
  overflow: hidden;
}

.jmbtrn .text {
  display: inline-block;
  height: 400px;
  width: 570px;
  text-align: left;
  position: relative;
  margin: 130px 0px 0px 90px;
  font-family: "Brandon Grotesque Light", arial;
}

.jmbtrn .text h1 {
  font-size: 55px;
  font-weight: bold;
  font-family: "Brandon Grotesque Black", arial;
  color: #292626;
  margin: 0px 0px 5px 0px;
  letter-spacing: 2px;
}

.jmbtrn .text .kata1 {
  padding-top: 5px;
  padding-bottom: 27px;
  font-size: 45px;
  font-weight: bolder;
  line-height: 1.3em;
}

.jmbtrn .text .mtp {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 17px;
  display: inline-block;
}

.jmbtrn .text .metode li {
  display: inline-block;
  font-size: 13px;
}

.jmbtrn .text .metode .ovo div {
  background-image: url(../img/ovo.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 10px;
  margin-right: -20px;
  height: 30px;
  width: 50px;
}

.jmbtrn .text .metode .gopay div {
  background-image: url(../img/gopay.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 30px;
  width: 100px;
}

.jmbtrn .text .metode .dana div {
  background-image: url(../img/dana.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 10px;
  height: 30px;
  width: 100px;
}

.jmbtrn .text .metode .link div {
  background-image: url(../img/linkaja.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 30px;
  width: 50px;
}

.jmbtrn .fotoppm {
  height: 350px;
  width: 550px;
  position: absolute;
  right: 420px;
  background-repeat: no-repeat;
  transform: translate(100%, -110%);
  background-image: url(../img/p.png);
  background-size: contain;
  background-position-x: 40px;
}

.jmbtrn .pattern {
  height: 600px;
  width: 600px;
  transform: translate(-50%, -75%);
  z-index: -99;
  border-radius: 50%;
  opacity: 0.7;
  background-image: url(../img/dot-grid.png);
  background-size: 250px;
  position: absolute;
}

.jmbtrn .text ul li {
  font-size: 18px;
  margin: 5px 0px 7px 5px;
  letter-spacing: 1px;
  font-family: "Montserrat", arial;
}

.jmbtrn .text ul i {
  margin: 0 10px 0 4px;
  color: #29dec7;
  size: 30px;
}

/* Paket */
.product {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.product h1 {
  font-size: 30px;
  text-align: Center;
}

.text-awal {
  font-size: 20px;
  line-height: 1.5em;
}

.bold {
  font-weight: bold;
}

.psatu,
.pdua,
.ptiga,
.pempat {
  width: 240px;
  height: 300px;
  border-radius: 20px;
  padding: 5px;
  margin: 18px;
  box-sizing: border-box;
  color: black;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  background-position: center;
  cursor: pointer;
}

.psatu {
  background-image: url(../img/p1.png);
}

.pdua {
  background-image: url(../img/p2.png);
}

.ptiga {
  background-image: url(../img/p3.png);
}

.pempat {
  background-image: url(../img/p4.png);
}

.psatu h1,
.pdua h1,
.ptiga h1,
.pempat h1 {
  color: white;
}

.product .namap {
  margin-top: 20px;
  font-size: 40px;
  font-weight: bold;
}

.product ul {
  margin-top: 77px;
  text-align: center;
  font-size: 23px;
}

.product ul li {
  margin: 10px;
}

.psatu:hover,
.pdua:hover,
.ptiga:hover,
.pempat:hover {
  transition: ease-in-out 200ms;
  transform: scale(1.02);
}

.paket {
  padding-top: 50px;
  font-size: 50px;
  text-align: center;
  padding-bottom: 34px;
  font-family: "Brandon Grotesque black", arial, sans-serif;
  background-color: #fff;
}

.tPaket {
  margin: 30px 100px;
  width: 160px;
  height: 50px;
}

.tPaket h1 {
  color: white;
  padding: 9px;
  background-color: #e17055;
  border-radius: 60px;
  font-size: 30px;
  margin-top: 6px;
  font-weight: bold;
}

.product a {
  text-decoration: none;
}

.rvw {
  margin-top: 100px;
  padding-top: 10px;
  font-size: 45px;
  text-align: center;
  padding-bottom: 10px;
  font-weight: lighter;
  font-family: "Brandon Grotesque Black", arial, sans-serif;
  background-color: #fff;
}

.rvw p {
  font-size: 24px;
  margin-bottom: -34px;
  margin-top: 49px;
}

body .paket2 {
  font-size: 24px;
  margin-bottom: 32px;
  text-align: center;
  margin-top: -9px;
}

body .rvw2 {
  font-size: 24px;
  margin-bottom: 32px;
  text-align: center;
  margin-top: 16px;
}

.review {
  margin-top: 50px;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.r1,
.r2,
.r3 {
  width: 230px;
  height: 460px;
  padding: 5px;
  margin: 18px 76px 96px 76px;
  box-sizing: border-box;
  box-shadow: 0 0 5px 0.1px rgba(0, 0, 0, 0.1);
  background-size: contain;
  border-radius: 36px;
}

.r1 {
  background-image: url(../img/r1.jpeg);
}

.r2 {
  background-image: url(../img/r2.jpeg);
}

.r3 {
  background-image: url(../img/r3.jpeg);
}

.intro,
.alasan {
  text-align: center;
  padding: 30px 70px 50px 70px;
  margin: 80px;
  font-size: 20px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.intro h1,
.alasan h1 {
  font-size: 40px;
  margin: 10px;
  font-weight: bold;
  color: #1089ff;
}

.paket {
  font-weight: bold;
}

.rvw h1 {
  font-weight: bold;
}

/* REGISTER */
.register-box {
  width: 60%;
  text-align: center;
  padding: 40px 80px;
  margin: 250px auto 100px auto;
  border-radius: 30px;
  box-sizing: border-box;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.register-box h3 {
  font-weight: bold;
  font-size: 30px;
  margin: 0 30px 30px 30px;
}

input,
select {
  width: 100%;
  padding: 15px 20px;
  margin: 8px 0;
  border-radius: 10px;
  border: none;
  background-color: #dfe6e9;
  outline: none;
}

input[type="submit"] {
  background-color: #3ba0ff;
  border: none;
  color: #fed;
  margin: 29px 116px 0 116px;
  text-decoration: none;
  width: 186px;
  cursor: pointer;
}

input[type="submit"]:hover {
  transform: scale(1.01);
  transition: 0.2s;
  background-color: #1089fe;
  color: #fed;
}
